body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, sans-serif;
}

.botao-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 0px;
}

.botao-voltar:hover {
    background-color: #606060;
}

header {
    background-color: #242424;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
}

.poster-gallery {
    text-align: center;
    padding: 50px;
}

.poster {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.poster img {
    width: 200px;
    height: 300px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.poster img:hover {
    transform: scale(1.1);
}

.poster p {
    margin: 10px 0 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.poster a {
    color: black;
    text-decoration: none;
}

.poster a:hover {
    text-decoration: underline;
}

.btn-quero-assistir,
.btn-ja-assisti {
    display: inline-block;
    padding: 10px 20px;
    background-color: #606060;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-quero-assistir:hover,
.btn-ja-assisti:hover {
    background-color: #404040;
}